<!-- Texto y botón central -->
<div class="relative z-10 text-white text-center flex flex-col justify-center items-center gap-10 md:text-3xl">
    <p class="text-slate-300">Click aca abajo
        para <span class="custom-text-gradient">ADQUIRIR</span> el sistema.
    </p>

    <div class="flex justify-center">
        <a 
            href="https://wa.link/obcuf1"
            onclick="fbq('track', 'Lead', { button_name: 'CLICK AQUI' });"
        >
            <img 
                src="images/BUTTON.png" 
                alt="Botón de Adquirir Sistema" 
                class=" logo-effect transition-transform duration-300 ease-in-out hover:scale-110"
            />
        </a>
    </div>
</div>

<style>
      .logo-effect {
      filter: drop-shadow(1px 1px 20px rgb(138, 129, 0));
  }
</style>