<div class=" flex flex-col gap-5 xl:gap-10 ">
    <div class="">
        <h2 class=" text-4xl text-center font-medium  md:text-5xl ">Explora el poder del <span class="custom-text-gradient">TRADING ALGORITMICO</span>  y desbloquea el éxito con nuevas oportunidades financieras</h2>
    </div>
    <div class="">
        <p class="text-center text-lg text-slate-300 md:text-xl lg:px-28 xl:px-48 ">Maximiza tus ganancias con nuestra herramienta</p>
    </div>
   
        <div>
            <iframe class="m-auto rounded-xl resolution-video h-72  md:h-96 md:w-5/6 lg:w-2/3 video-container "src="https://www.youtube.com/embed/hfydQgv245A" title="‎" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

    </div>

<style>
    @keyframes fade-down {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* VIDEO
<div>
        <iframe class="m-auto rounded-xl resolution-video h-72 border-2 border-violet-800 md:h-96 md:w-5/6 lg:w-2/3 video-container "src="https://www.youtube-nocookie.com/embed/FG4Na0vBZPk" title="‎" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>*/ 
@keyframes opactity {
    from {
        opacity : 0;
    }

    to {
        opacity: 1;
    }
}



.resolution-video{
    width: 100%;
}

.glow-effect {
    text-shadow: 0px 0px 5px #cfb629, /* Primera capa de brillo */
                 0px 0px 10px #cfb629, /* Segunda capa de brillo */
                 0px 0px 0px #cfb629; /* Tercera capa de brillo para un brillo más intenso */}

                 
@media (min-width: 1280px) { /* breakpoint xl en Tailwind */
    .resolution-video {
        width: 60%;
    }
}

.video-container:hover {
    box-shadow: 0px 0px 50px -12px rgba(255, 255, 255, 0.5);
    transition: 1s;
}

.custom-text-gradient {
    background: radial-gradient(at 61.68% 18.71%, hsla(45, 84%, 60%, 1) 0%, hsla(45, 84%, 60%, 0) 100%),
            radial-gradient(at 8.79% 10.53%, hsla(42, 84%, 55%, 1) 0%, hsla(42, 84%, 55%, 0) 100%),
            radial-gradient(at 92.39% 89.18%, hsla(50, 84%, 50%, 1) 0%, hsla(50, 84%, 50%, 0) 100%),
            radial-gradient(at 76.09% 38.92%, hsla(39, 84%, 65%, 1) 0%, hsla(39, 84%, 65%, 0) 100%);
-webkit-background-clip: text;
background-clip: text;
color: transparent;

  }

</style>