<div class="flex flex-col md:flex-row">
    <div class="py-3 md:px-5 xl:p-10">
        <img src="/images/EXTRAS.png" alt="Imagen 1" class="w-full h-auto animatable" />
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add('animate-slideUp');
                } else {
                    entry.target.classList.remove('animate-slideUp');
                }
            });
        }, { threshold: 0.1 });

        const items = document.querySelectorAll('.animatable');
        items.forEach(item => observer.observe(item));
    });
</script>

<style>
    /* Estilo para la animación */
    @keyframes slideUp {
        from {
            transform: translateY(20px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .animate-slideUp {
        animation: slideUp 0.5s ease-out forwards;
    }
</style>