---

import Layout from '../layouts/Layout.astro';

---



<Layout title="Algo Traders Hispano">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
  <main class="h-screen relative flex flex-col justify-center items-center gap-3">


      <div class="">
          <img class="w-52 brightness-90" src="/public/images/logo_sin_fondo.png" alt="Logo Sin Fondo">
      </div>
      
      <div class="absolute inset-0 flex justify-center items-center opacity-5">
          <img src="/images/logo.webp" alt="Logo" class="h-3/4 object-contain pointer-events-none xl:h-2/4">
      </div>

      <div class="relative z-10 text-white font-poppins text-center flex flex-col justify-center items-center gap-4   ">
          <h2 class="text-4xl font-bold xl:text-5xl">Alcanza la <span class="custom-text-gradient">RENTABILIDAD</span> con Nuestro BOT 💰</h2>
          <p class=" text-slate-300">Descubre cómo funciona el
              <span class="custom-text-gradient">Bot Forex</span>
              para <span class="custom-text-gradient">mejorar</span> tus inversiones.
          </p>
          <iframe class="px-2 w-full xl:w-2/5" src="https://embeds.beehiiv.com/0ee47e50-8c35-4788-98a3-d22449acc01b?slim=true"
              data-test-id="beehiiv-embed"
              height="52"
              frameborder="0"
              scrolling="no"
              style="margin: 0; border-radius: 0px !important; background-color: transparent;">
          </iframe>
      </div>
  </main>
</Layout>


<style>
	.custom-text-gradient {
    background: radial-gradient(at 61.681808839936906% 18.713453047060867%, hsla(236.76923076923077, 84.4155844155844%, 69.80392156862744%, 1) 0%, hsla(236.76923076923077, 84.4155844155844%, 69.80392156862744%, 0) 100%),
                radial-gradient(at 8.792883057247769% 10.531053903989228%, hsla(308.7692307692308, 84.4155844155844%, 69.80392156862744%, 1) 0%, hsla(308.7692307692308, 84.4155844155844%, 69.80392156862744%, 0) 100%),
                radial-gradient(at 92.39499859343967% 89.18327529767484%, hsla(21.230769230769234, 84.4155844155844%, 69.80392156862744%, 1) 0%, hsla(21.230769230769234, 84.4155844155844%, 69.80392156862744%, 0) 100%),
                radial-gradient(at 76.09054593785065% 38.92786969520729%, hsla(165.23076923076923, 84.4155844155844%, 69.80392156862744%, 1) 0%, hsla(165.23076923076923, 84.4155844155844%, 69.80392156862744%, 0) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
</style>