---
import Layout from '../layouts/Layout2.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/GOLDEMON/GOLDxnavbar.astro';
import Hero from '../components/GOLDEMON/GOLDxhero.astro';
import Data from '../components/GOLDEMON/GOLDxdata.astro';
import Extras from '../components/GOLDEMON/GOLDxextras.astro';
import Learning from '../components/GOLDEMON/GOLDxfyq.astro';
import AboutUs from '../components/AboutUs.astro';
import Calendly from '../components/Calendly.astro';
import Footer from '../components/GOLDEMON/GOLDxfooter.astro';
import Beehiiv from '../components/Beehiiv.astro';
import Countdown from '../components/Countdown.astro';
import Buy from '../components/GOLDEMON/GOLDxbuy.astro';
---

<Layout title="TRADIUN">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="icon" type="image/svg+xml" href="/public/logo.ico"/>
    <!-- Solo cargamos la fuente deseada -->
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    
    <!-- Aplicamos la fuente deseada de forma global -->
    <style>
        body {
            font-family: 'Silkscreen', 'Manrope', sans-serif; /* Aplicamos solo la segunda fuente */
            color: #ffffff; /* Texto blanco por defecto */
        }

        h1, h2, h3, h4, h5, h6 {
            font-weight: bold; /* Encabezados en negrita */
        }

        p {
            font-weight: 400; /* Peso normal para párrafos */
        }
    </style>
    
    <main class="text-white m-auto">
      <div class="max-w-7xl m-auto">
        <div class="lg:px-6">
          <Navbar />
        </div>
        <div class="lg:max-w-6xl m-auto">
          <div class="mt-12 mx-5 md:mt-8 md:mx-12 xl:mx-10 xl:mt-14">
            <Hero />
          </div>
          <div>
            <Countdown />
          </div>
          <div class="mb-8 mx-6 flex flex-col gap-24">
            <Data />
            <Buy />
            <Extras />
            <Learning />
          </div>
        </div>
      </div>
      <footer class="w-full">
        <Footer />
      </footer>
    </main>
</Layout>





