---

---

<div class="pt-14" id="calendly">
    <h3 class=" mb-4 text-center text-5xl xl:text-6xl">AGENDA TU LLAMADA CON NOSTROS</h3>
    <div class="calendly-inline-widget logo-effect" data-url="https://calendly.com/tradiun/60min?primary_color=ff00d5" style="min-width:320px;height:700px; "></div>
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
</div>

<style>
    .logo-effect 
        {
        filter:drop-shadow(1px 1px 20px rgb(112, 1, 163))
        }
</style>
