---


---

<div class=" mx-3 mt-2 flex justify-between items-center ">
    <div class="">
        <a href="/" aria-label="Volver al inicio">
            <img class="w-40 lg:w-44" src="/images/TRADIUN.webp" alt="">
        </a>
    </div>
    <div class="">
        <a href="/" aria-label="Volver al inicio">
            <img class="w-40 lg:w-70" src="/images/Centro.webp" alt="">
        </a>
    </div>
    <div>
        <p class="text-xs xl:text-base"> <a href="conditions">Terminos y Condiciones</a></p>
    </div>
</div>
